body {
	h1 {
		font-weight: normal;
		font-size: 38px;
		margin: 0 auto;
		text-transform: capitalize;
	}
}

@orange: #cb4542;
@white: #fff;

.sidebar-offcanvas {
  background: @orange;
a {
  color: @white;
  outline: none;
}
  .hex  {
    position:relative;
    text-align:center;
    overflow:hidden;
    white-space:nowrap;
    display:inline-block;
  }
  .hex:before {
    content:'';
    padding-top:120%;
    display:inline-block;
    vertical-align:middle;

  }

  .hex:after {
    content:'';
    position:absolute;
    top:0%;
    left:-10%;
    width:120%;
    padding-top:120%;
    transform: rotatex(45deg) rotate(45deg);
    text-align:center;
    box-shadow:0 0 0 300px @orange;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
  }
  .hex img {
    display:inline-block;
    vertical-align:middle;
    margin:0 -10px;
  }

  /* draw borders ?*/
  .hex {
    outline: solid;
    outline-offset:-3px;
    overflow:hidden;
    text-indent:0
;
  }
  .hex:after {
    box-shadow:inset 0 0 0 3px, 0 0 5px,0 0 0 750px @orange;
    z-index:1;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
  }

  .user-avater {
    text-align:center;
  }
}

#sidebar {
  color: #fff;
  h1 {

    font-size: 40px;
    label,span {
      padding-left: 10%;
      float: left;
      text-align: left;
      text-transform: uppercase;
      line-height: 35px;
    }

    span {
      font-weight: normal;
    }
  }

  ul {
    width: 90%;
    padding-left: 10%;
    margin-top: 20px;
    float: left;
    li {
      list-style: none;
      margin-top: 20px;
    }
  }
}