@blue: #3fa8dc;
@white: #ffffff;
@dark: #383835;
@green: #38b565;
/*@green: #4dfd38;*/
@light: #f4f4f3;
@red: #e75852;
@yellow: #f1ae24;
@ash: #6a6a6a;
@gutter-size: 30px;



body {
  font-size: 18px;
}
.logo {
  width: 170px;
  height: 170px;
  overflow: hidden;
  padding: 10px;
  img {
    .border-radius(80px);
    width: 144px;
    height: 144px;
  }
  .border-radius(90px);
}
.profile-owner {
  h1 {
    font-size: 90px;
    margin-bottom: 5px;
  }
  label {
    font-size: 25px;
    font-weight: normal;
  }
  text-align: center;
}

.page-header {
  border-bottom: none;
}
.contacts {
  padding: 0px 40px;

    .online, .phone, .mail {
      margin-top: 20px;
      margin-bottom: 20px;

  }
}
hr {
  margin-top: 5px;
}
.icon {
  background: url("../img/icons.png") no-repeat;
}
.globe, .mobile, .marker {
  .contact-icons;
}
.border-radius(@radius) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}
.contact-icons {
  background: url("../img/icons.png") no-repeat;
  float: left;
  width: 55px;
  height: 50px;
}

.icon {
  left: -4px;
  width: 80px;
  height: 80px;
  top: 0;
}

.icon, .disk {
  position: absolute;
  z-index: 500;
}

.disk {
  right: 0;
  top: 35px;
  width: 10px;
  background: @dark;
  height: 10px;
  .border-radius(5px)
}

h2 {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 20px;
  label {
    background: @white;
    padding: 0 20px;
    position: relative;
    top: 24px;
    z-index: 300;
  }
  hr {
    .hr-in-h2;
  }
}

h3 {
  letter-spacing: 3px;
}
.skills h3 {
  margin-top: 10px;
}

.skill {
  label {
    padding-left: 30px;
    width: 225px;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 16px;
  }
  position: relative;
  .disk {
    right: auto;
    left: 0;
    top: 8px;
  }

  .skills & .progress {
    float: right;
    width: 285px;
    .border-radius(10px);
    border-left: 0;
    margin-top: 5px;
  }

  .progress-bar-success {
    .border-radius(10px);
  }
  padding-bottom: 10px;

  .language & {
    /*padding-bottom: 3px;*/
  }
}

.progress {
  position: relative;
  .eraser {
    height: 40px;
    left: 0;
    position: absolute;
    top: -13px;
    width: 15px;
    .border-radius(10px);
  }
  height: 16px;
  margin-bottom: 8px;
}

.experience h4 {
  margin-bottom: 0px;
  margin-top: 20px;
}

.education {
  h4 {
    margin-bottom: 20px;
    margin-top: 0px;
  }
  h3 {
    margin-bottom: 3px;
  }
}

.reference span.glyphicon {
  margin-right: 8px;
}

.references {
  i.fa.fa-user-plus {
    margin-top: 21px;
  }

  .reference {
  padding-bottom: 10px;
  }
}

.hobbies {
  i.fa.fa-heartbeat {
    margin-top: 25px;
  }
}


.capabilities {
  position: relative;
  .capability {
    position: absolute;
    text-align: center;
    &.web-design {
      .border-radius(150px);
      padding-top: 55px;
      width: 150px;
      height: 150px;
      z-index: 2500;
    }
    &.adv {
      .border-radius(125px);
      height: 125px;
      left: 132px;
      padding-top: 45px;
      top: 89px;
      width: 125px;
      z-index: 2000;
    }
    &.motion {
      .border-radius(150px);
      padding-top: 25px;
      width: 90px;
      height: 90px;
      z-index: 1500;
      right: 230px;
      top: 165px;
    }
    &.illustration{
      .border-radius(150px);
      padding-top: 55px;
      width: 150px;
      height: 150px;
      z-index: 2000;
      right: 100px;
      top: 100px;
    }
    &.print {
      .border-radius(120px);
      text-align: center;
      padding-top: 45px;
      width: 120px;
      height: 120px;
      z-index: 500;
      right: 0;
      top: 150px;
    }
  }
}
 .color-e75852 {
    .logo {
      border: 3px solid @red;
      img {
        background: @blue;
      }
    }
    .contacts {
      background: @red;
      &, a {
        color: @white;
      }
    }
    hr {
      color: @red;
    }

    .globe {
      background-position: -12px -90px;
    }
    .mobile {
      background-position: -12px -675px;
    }
    .marker {
      background-position: -12px -605px;
    }
    color: @dark;

    .profile {
      .icon {
        background-position: 0 0;
      }
    }

    .educations {
      .icon {
        background-position: 0 -431px;
      }
    }

    .duration {
      color: @ash;
      .mixin-duration;
    }

    .progress-bar-success {
      background: @dark;
    }

    .progress {
      border: 2px solid @dark;
      background: @white;
      .eraser {
        background: @dark;
      }
    }

    .professional.skills h2 .icon {
      background-position: 0px -342px;
    }

    .languages.skills h2 .icon {
      background-position: 0px -155px;
    }

    .experiences h2 .icon {
      background-position: 0px -518px;
    }

    .capabilities h2 .icon {
      background-position: 0px -248px;
    }

    .hobbies h2 .icon ,
    .references h2 .icon {
      background-position: -1px -757px;
      i {
        color: @red;
      }
    }

    p {color: @ash}

    .references {
      p {
        color: @dark;
      }
    }

    .web-design,.motion, .print {
      background-color: rgba(237,237,237,0.8);
    }

    .adv, .illustration {
      background-color: rgba(240,145,124,0.8);
      color: @white;
    }
    hr {
      border-bottom: 2px solid @red;
    }

    span.glyphicon {
      color: @red;
    }
  }
.color-38b565 {
  .logo {
    border: 3px solid @green;
    img {
      background: @blue;
    }
  }
  .contacts {
    background: @green;
    &, a {
      color: @white;
    }
  }
  hr {
    color: @green;
  }

  .globe {
    background-position: -12px -90px;
  }
  .mobile {
    background-position: -12px -675px;
  }
  .marker {
    background-position: -12px -605px;
  }
  color: @dark;

  .profile {
    .icon {
      background-position: -87px 0;
    }
  }

  .educations {
    .icon {
      background-position: -83px -431px;
    }
  }

  .duration {
    color: @ash;
    .mixin-duration;
  }

  .progress-bar-success {
    background: @dark;
  }

  .progress {
    border: 2px solid @dark;
    background: @white;
    .eraser {
      background: @dark;
    }
  }

  .professional.skills h2 .icon {
    background-position: -81px -340px;
  }

  .languages.skills h2 .icon {
    background-position: -86px -155px;
  }

  .experiences h2 .icon {
    background-position: -82px -518px;
  }

  .capabilities h2 .icon {
    background-position: -86px -248px;
  }

  .hobbies h2 .icon ,
  .references h2 .icon {
    background-position: -87px -759px;
    i {
      color: @green;
    }
  }

  p {color: @ash}

  .references {
    p {
      color: @dark;
    }
  }

  .web-design,.motion, .print {
    background-color: rgba(237,237,237,0.8);
  }

  .adv, .illustration {
    background-color: rgba(56,181,101,0.8);
    color: @white;
  }
  hr {
    border-bottom: 2px solid @green;
  }

  span.glyphicon {
    color: @green;
  }
}
.color-f4f4f3 {
  .logo {
    border: 3px solid @light;
    img {
      background: @blue;
    }
  }
  .contacts {
    background: @light;
    &, a {
      color: @dark;
    }
  }
  hr {
    color: @dark;
  }
  .globe {
    background-position: -107px -90px;
  }
  .mobile {
    background-position: -95px -675px;
  }
  .marker {
    background-position: -98px -605px;
  }
  color: @dark;

  .profile {
    .icon {
      background-position: -255px 0;
    }
  }

  .educations {
    .icon {
      background-position: -255px -425px;
    }
  }

  .duration {
    color: @ash;
    .mixin-duration;
  }

  .progress-bar-success {
    background: @dark;
  }

  .progress {
    border: 2px solid @dark;
    background: @white;
    .eraser {
      background: @dark;
    }
  }

  .professional.skills h2 .icon {
    background-position: -255px -338px;
  }

  .languages.skills h2 .icon {
    background-position: -261px -160px;
  }

  .experiences h2 .icon {
    background-position: -255px -518px;
  }

  .capabilities h2 .icon {
    background-position: -258px -254px;
  }

  .hobbies h2 .icon ,
  .references h2 .icon {
    background-position: -263px -759px;
    i {
      color: #b0adad;
    }
  }

  p {color: @ash}

  .references {
    p {
      color: @dark;
    }
  }

  .web-design,.motion, .print {
    background-color: rgba(237,237,237,0.8);
  }

  .adv, .illustration {
    background-color: rgba(176,176,176,0.8);
    color: @white;
  }
  hr {
    border-bottom: 2px solid @dark;
  }

  span.glyphicon {
    color: #b0adad;
  }
}
.color-3fa8dc {
  .logo {
    border: 3px solid @blue;
    img {
      background: @blue;
    }
  }
  .contacts {
    background:@blue;
    &, a {
      color: @white;
    }
  }
  hr {
    color: @blue;
  }

  .globe {
    background-position: -12px -90px;
  }
  .mobile {
    background-position: -12px -675px;
  }
  .marker {
    background-position: -12px -605px;
  }
  color: @dark;

  .profile {
    .icon {
      background-position: -425px 0;
    }
  }

  .educations {
    .icon {
      background-position: -426px -430px;
    }
  }

  .duration {
    color: @ash;
    .mixin-duration;
  }

  .progress-bar-success {
    background: @dark;
  }

  .progress {
    border: 2px solid @dark;
    background: @white;
    .eraser {
      background: @dark;
    }
  }

  .professional.skills h2 .icon {
    background-position: -425px -340px;
  }

  .languages.skills h2 .icon {
    background-position: -428px -161px;
  }

  .experiences h2 .icon {
    background-position: -431px -518px;
  }

  .capabilities h2 .icon {
    background-position: -428px -251px;
  }

  .hobbies h2 .icon ,
  .references h2 .icon {
    background-position: -429px -759px;
    i {
      color: @blue;
    }
  }

  p {color: @ash}

  .references {
    p {
      color: @dark;
    }
  }

  .web-design,.motion, .print {
    background-color: rgba(237,237,237,0.8);
  }

  .adv, .illustration {
    background-color: rgba(63,168,220,0.8);
    color: @white;
  }
  hr {
    border-bottom: 2px solid @blue;
  }

  span.glyphicon {
    color: @blue
  }
}
.color-f1ae24 {
  .logo {
    border: 3px solid @yellow;
    img {
      background: @blue;
    }
  }
  .contacts {
    background: @yellow;
    &, a {
      color: @white;
    }
  }
  hr {
    color: @yellow;
  }

  .globe {
    background-position: -12px -90px;
  }
  .mobile {
    background-position: -12px -675px;
  }
  .marker {
    background-position: -12px -605px;
  }
  color: @dark;

  .profile {
    .icon {
      background-position: -340px 0;
    }
  }

  .educations {
    .icon {
      background-position: -340px -431px;
    }
  }

  .duration {
    color: @ash;
    .mixin-duration;
  }

  .progress-bar-success {
    background: @dark;
  }

  .progress {
    border: 2px solid @dark;
    background: @white;
    .eraser {
      background: @dark;
    }
  }

  .professional.skills h2 .icon {
    background-position: -340px -340px;
  }

  .languages.skills h2 .icon {
    background-position: -343px -160px;
  }

  .experiences h2 .icon {
    background-position: -340px -518px;
  }

  .capabilities h2 .icon {
    background-position: -343px -251px;
  }

  .hobbies h2 .icon ,
  .references h2 .icon {
    background-position: -345px -764px;
    i {
      color: @yellow;
    }
  }

  p {color: @ash}

  .references {
    p {
      color: @dark;
    }
  }

  .web-design,.motion, .print {
    background-color: rgba(237,237,237,0.8);
  }

  .adv, .illustration {
    background-color: rgba(241,174,36,0.8);
    color: @white;
  }
  hr {
    border-bottom: 2px solid @yellow;
  }

  span.glyphicon {
    color: @yellow;
  }
}
.color-383835 {
  .logo {
    border: 3px solid @white;
    img {
      background: @blue;
    }
  }
  .contacts {
    background: @white;
    &, a {
      color: @dark;
    }
  }
  hr {
    color: @white;
  }

  .globe {
    background-position: -107px -90px;
  }
  .mobile {
    background-position: -95px -675px;
  }
  .marker {
    background-position: -98px -605px;
  }

  background: @dark;
  color: @white;

  .profile {
    .icon {
      background-position: -169px -3px;
    }
  }

  .educations {
    .icon {
      background-position: -169px -426px;
    }
  }

  .duration {
    color: @white;
    .mixin-duration;
  }

  .progress-bar-success {
    background: @white; box-shadow: none;
  }

  .progress {
    border: 2px solid @white;
    background: @dark;
    .eraser {
      background: @white;
    }
  }

  .professional.skills h2 .icon {
    background-position: -169px -340px;
  }

  .languages.skills h2 .icon {
    background-position: -169px -155px;
  }

  .experiences h2 .icon {
    background-position: -168px -518px;
  }

  .capabilities h2 .icon {
    background-position: -169px -248px;
  }

  .hobbies h2 .icon ,
  .references h2 .icon {
    background-position: -170px -759px;
    i {
      color: @white;
    }
  }

  p {color: @white}

  .references {
    p {
      color: @white;
    }
  }

  .web-design,.motion, .print {
    background-color: rgba(237,237,237,0.8);
  }

  .adv, .illustration {
    background-color: rgba(237,237,237,0.8);
    color: @white;
  }
  hr {
    border-bottom: 2px solid @white;
  }

  span.glyphicon {
    color: @white;
  }

  h2 {
    label {
      background: @dark;
    }
  }
  .disk {
    background: @white;
  }
}


  .hr-in-h2 {
    position: relative;
    top: -5px;
  }

  .mixin-duration {
    letter-spacing: normal;
    float: right;
  }

.set-row-gutter(@gutter-size) {
margin-left: -@gutter-size;
margin-right: -@gutter-size;
}

.set-column-gutter(@gutter-size) {
padding-left: @gutter-size;
padding-right: @gutter-size;
}

@media (min-width: 460px) {
  .row { .set-row-gutter(@gutter-size) }
  .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    .set-column-gutter(@gutter-size);
  }
}
