@blue: #3fa8dc;
@white: #ffffff;
@dark: #383835;
@green: #38b565;
@light: #f4f4f3;
@red: #e75852;
@yellow: #f1ae24;

body {
  font-size: 18px;
}
.logo {
  width: 170px;
  height: 170px;
  overflow: hidden;
  padding: 10px;
  img {
    .border-radius(80px);
    width: 144px;
    height: 144px;
  }
  .border-radius(90px);
}
.profile-owner {
  h1 {
    font-size: 90px;
    margin-bottom: 5px;
  }
  label {
    font-size: 25px;
    font-weight: normal;
  }
  text-align: center;
}
.red {
  .logo {
    border: 3px solid @red;
    img {
      background: @blue;
    }
  }
  .contacts {
    background: @red;
    &, a {
      color: @white;
    }
  }
  hr {
    color: @red;
  }
}
.page-header {
  border-bottom: none;
}
.contacts {
  padding: 20px 40px;
}
hr {
  margin-top: 5px;
  border-bottom: 2px solid @red;
}
.globe, .mobile, .marker {
  .contact-icons;
}
.red {
  .globe {
    background-position: -12px -90px;
  }
  .mobile {
    background-position: -12px -675px;
  }
  .marker {
    background-position: -12px -605px;
  }
}
.border-radius(@radius) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}
.contact-icons {
  background: url("../images/icons.png") no-repeat;
  float: left;
  width: 55px;
  height: 50px;
}
