body {
  font-size: 18px;
}
.logo {
  width: 170px;
  height: 170px;
  overflow: hidden;
  padding: 10px;
  -webkit-border-radius: 90px;
  -moz-border-radius: 90px;
  border-radius: 90px;
}
.logo img {
  -webkit-border-radius: 80px;
  -moz-border-radius: 80px;
  border-radius: 80px;
  width: 144px;
  height: 144px;
}
.profile-owner {
  text-align: center;
}
.profile-owner h1 {
  font-size: 90px;
  margin-bottom: 5px;
}
.profile-owner label {
  font-size: 25px;
  font-weight: normal;
}
.page-header {
  border-bottom: none;
}
.contacts {
  padding: 0px 40px;
}
.contacts .online,
.contacts .phone,
.contacts .mail {
  margin-top: 20px;
  margin-bottom: 20px;
}
hr {
  margin-top: 5px;
  border-bottom: 2px solid #e75852;
}
.icon {
  background: url("../images/icons.png") no-repeat;
}
.globe,
.mobile,
.marker {
  background: url("../images/icons.png") no-repeat;
  float: left;
  width: 55px;
  height: 50px;
}
.contact-icons {
  background: url("../images/icons.png") no-repeat;
  float: left;
  width: 55px;
  height: 50px;
}
.icon {
  left: -4px;
  width: 80px;
  height: 80px;
  top: 0;
}
.icon,
.disk {
  position: absolute;
  z-index: 500;
}
.disk {
  right: 0;
  top: 35px;
  width: 10px;
  background: #383835;
  height: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
h2 {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 20px;
}
h2 label {
  background: #ffffff;
  padding: 0 20px;
  position: relative;
  top: 24px;
  z-index: 300;
}
h2 hr {
  position: relative;
  top: -5px;
}
h3 {
  letter-spacing: 3px;
}
.skill {
  position: relative;
  padding-bottom: 10px;
}
.skill label {
  padding-left: 30px;
  width: 200px;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 16px;
}
.skill .disk {
  right: auto;
  left: 0;
  top: 8px;
}
.skills .skill .progress {
  float: right;
  width: 300px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border-left: 0;
  margin-top: 5px;
}
.skill .progress-bar-success {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.progress {
  position: relative;
}
.progress .eraser {
  height: 40px;
  left: 0;
  position: absolute;
  top: -13px;
  width: 15px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.experience h4 {
  margin-bottom: 0px;
  margin-top: 20px;
}
.education h4 {
  margin-bottom: 20px;
  margin-top: 0px;
}
.education h3 {
  margin-bottom: 3px;
}
.capabilities {
  position: relative;
}
.capabilities .capability {
  position: absolute;
  text-align: center;
}
.capabilities .capability.web-design {
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border-radius: 150px;
  padding-top: 55px;
  width: 150px;
  height: 150px;
  z-index: 2500;
}
.capabilities .capability.adv {
  -webkit-border-radius: 125px;
  -moz-border-radius: 125px;
  border-radius: 125px;
  height: 125px;
  left: 132px;
  padding-top: 45px;
  top: 89px;
  width: 125px;
  z-index: 2000;
}
.capabilities .capability.motion {
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border-radius: 150px;
  padding-top: 25px;
  width: 90px;
  height: 90px;
  z-index: 1500;
  right: 230px;
  top: 165px;
}
.capabilities .capability.illustration {
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border-radius: 150px;
  padding-top: 55px;
  width: 150px;
  height: 150px;
  z-index: 2000;
  right: 100px;
  top: 100px;
}
.capabilities .capability.print {
  -webkit-border-radius: 120px;
  -moz-border-radius: 120px;
  border-radius: 120px;
  text-align: center;
  padding-top: 45px;
  width: 120px;
  height: 120px;
  z-index: 500;
  right: 0;
  top: 150px;
}
.red {
  color: #383835;
}
.red .logo {
  border: 3px solid #e75852;
}
.red .logo img {
  background: #3fa8dc;
}
.red .contacts {
  background: #e75852;
}
.red .contacts,
.red .contacts a {
  color: #ffffff;
}
.red hr {
  color: #e75852;
}
.red .globe {
  background-position: -12px -90px;
}
.red .mobile {
  background-position: -12px -675px;
}
.red .marker {
  background-position: -12px -605px;
}
.red .education .icon {
  background-position: 0 -431px;
}
.red .duration {
  color: #6a6a6a;
  letter-spacing: normal;
  float: right;
}
.red .progress-bar-success {
  background: #383835;
}
.red .progress {
  border: 2px solid #383835;
  background: #ffffff;
}
.red .progress .eraser {
  background: #383835;
}
.red .professional.skills h2 .icon {
  background-position: 0px -342px;
}
.red .language.skills h2 .icon {
  background-position: 0px -155px;
}
.red .experiences h2 .icon {
  background-position: 0px -518px;
}
.red .capabilities h2 .icon {
  background-position: 0px -248px;
}
.red p {
  color: #6a6a6a;
}
.red .web-design,
.red .motion,
.red .print {
  background-color: rgba(237, 237, 237, 0.8);
}
.red .adv,
.red .illustration {
  background-color: rgba(240, 145, 124, 0.8);
  color: #ffffff;
}
.hr-in-h2 {
  position: relative;
  top: -5px;
}
.mixin-duration {
  letter-spacing: normal;
  float: right;
}
@media (min-width: 460px) {
  .row {
    margin-left: -30px;
    margin-right: -30px;
  }
  .col-lg-1,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-md-1,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-sm-1,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-xs-1,
  .col-xs-10,
  .col-xs-11,
  .col-xs-12,
  .col-xs-2,
  .col-xs-3,
  .col-xs-4,
  .col-xs-5,
  .col-xs-6,
  .col-xs-7,
  .col-xs-8,
  .col-xs-9 {
    padding-left: 30px;
    padding-right: 30px;
  }
}
/*# sourceMappingURL=template2.css.map */