/*@green: #4dfd38;*/
body {
  font-size: 18px;
}
.logo {
  width: 170px;
  height: 170px;
  overflow: hidden;
  padding: 10px;
  -webkit-border-radius: 90px;
  -moz-border-radius: 90px;
  border-radius: 90px;
}
.logo img {
  -webkit-border-radius: 80px;
  -moz-border-radius: 80px;
  border-radius: 80px;
  width: 144px;
  height: 144px;
}
.profile-owner {
  text-align: center;
}
.profile-owner h1 {
  font-size: 90px;
  margin-bottom: 5px;
}
.profile-owner label {
  font-size: 25px;
  font-weight: normal;
}
.page-header {
  border-bottom: none;
}
.contacts {
  padding: 0px 40px;
}
.contacts .online,
.contacts .phone,
.contacts .mail {
  margin-top: 20px;
  margin-bottom: 20px;
}
hr {
  margin-top: 5px;
}
.icon {
  background: url("../img/icons.png") no-repeat;
}
.globe,
.mobile,
.marker {
  background: url("../img/icons.png") no-repeat;
  float: left;
  width: 55px;
  height: 50px;
}
.contact-icons {
  background: url("../img/icons.png") no-repeat;
  float: left;
  width: 55px;
  height: 50px;
}
.icon {
  left: -4px;
  width: 80px;
  height: 80px;
  top: 0;
}
.icon,
.disk {
  position: absolute;
  z-index: 500;
}
.disk {
  right: 0;
  top: 35px;
  width: 10px;
  background: #383835;
  height: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
h2 {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 20px;
}
h2 label {
  background: #ffffff;
  padding: 0 20px;
  position: relative;
  top: 24px;
  z-index: 300;
}
h2 hr {
  position: relative;
  top: -5px;
}
h3 {
  letter-spacing: 3px;
}
.skills h3 {
  margin-top: 10px;
}
.skill {
  position: relative;
  padding-bottom: 10px;
}
.skill label {
  padding-left: 30px;
  width: 225px;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 16px;
}
.skill .disk {
  right: auto;
  left: 0;
  top: 8px;
}
.skills .skill .progress {
  float: right;
  width: 285px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border-left: 0;
  margin-top: 5px;
}
.skill .progress-bar-success {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.language .skill {
  /*padding-bottom: 3px;*/
}
.progress {
  position: relative;
  height: 16px;
  margin-bottom: 8px;
}
.progress .eraser {
  height: 40px;
  left: 0;
  position: absolute;
  top: -13px;
  width: 15px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.experience h4 {
  margin-bottom: 0px;
  margin-top: 20px;
}
.education h4 {
  margin-bottom: 20px;
  margin-top: 0px;
}
.education h3 {
  margin-bottom: 3px;
}
.reference span.glyphicon {
  margin-right: 8px;
}
.references i.fa.fa-user-plus {
  margin-top: 21px;
}
.references .reference {
  padding-bottom: 10px;
}
.hobbies i.fa.fa-heartbeat {
  margin-top: 25px;
}
.capabilities {
  position: relative;
}
.capabilities .capability {
  position: absolute;
  text-align: center;
}
.capabilities .capability.web-design {
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border-radius: 150px;
  padding-top: 55px;
  width: 150px;
  height: 150px;
  z-index: 2500;
}
.capabilities .capability.adv {
  -webkit-border-radius: 125px;
  -moz-border-radius: 125px;
  border-radius: 125px;
  height: 125px;
  left: 132px;
  padding-top: 45px;
  top: 89px;
  width: 125px;
  z-index: 2000;
}
.capabilities .capability.motion {
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border-radius: 150px;
  padding-top: 25px;
  width: 90px;
  height: 90px;
  z-index: 1500;
  right: 230px;
  top: 165px;
}
.capabilities .capability.illustration {
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border-radius: 150px;
  padding-top: 55px;
  width: 150px;
  height: 150px;
  z-index: 2000;
  right: 100px;
  top: 100px;
}
.capabilities .capability.print {
  -webkit-border-radius: 120px;
  -moz-border-radius: 120px;
  border-radius: 120px;
  text-align: center;
  padding-top: 45px;
  width: 120px;
  height: 120px;
  z-index: 500;
  right: 0;
  top: 150px;
}
.color-e75852 {
  color: #383835;
}
.color-e75852 .logo {
  border: 3px solid #e75852;
}
.color-e75852 .logo img {
  background: #3fa8dc;
}
.color-e75852 .contacts {
  background: #e75852;
}
.color-e75852 .contacts,
.color-e75852 .contacts a {
  color: #ffffff;
}
.color-e75852 hr {
  color: #e75852;
}
.color-e75852 .globe {
  background-position: -12px -90px;
}
.color-e75852 .mobile {
  background-position: -12px -675px;
}
.color-e75852 .marker {
  background-position: -12px -605px;
}
.color-e75852 .profile .icon {
  background-position: 0 0;
}
.color-e75852 .educations .icon {
  background-position: 0 -431px;
}
.color-e75852 .duration {
  color: #6a6a6a;
  letter-spacing: normal;
  float: right;
}
.color-e75852 .progress-bar-success {
  background: #383835;
}
.color-e75852 .progress {
  border: 2px solid #383835;
  background: #ffffff;
}
.color-e75852 .progress .eraser {
  background: #383835;
}
.color-e75852 .professional.skills h2 .icon {
  background-position: 0px -342px;
}
.color-e75852 .languages.skills h2 .icon {
  background-position: 0px -155px;
}
.color-e75852 .experiences h2 .icon {
  background-position: 0px -518px;
}
.color-e75852 .capabilities h2 .icon {
  background-position: 0px -248px;
}
.color-e75852 .hobbies h2 .icon,
.color-e75852 .references h2 .icon {
  background-position: -1px -757px;
}
.color-e75852 .hobbies h2 .icon i,
.color-e75852 .references h2 .icon i {
  color: #e75852;
}
.color-e75852 p {
  color: #6a6a6a;
}
.color-e75852 .references p {
  color: #383835;
}
.color-e75852 .web-design,
.color-e75852 .motion,
.color-e75852 .print {
  background-color: rgba(237, 237, 237, 0.8);
}
.color-e75852 .adv,
.color-e75852 .illustration {
  background-color: rgba(240, 145, 124, 0.8);
  color: #ffffff;
}
.color-e75852 hr {
  border-bottom: 2px solid #e75852;
}
.color-e75852 span.glyphicon {
  color: #e75852;
}
.color-38b565 {
  color: #383835;
}
.color-38b565 .logo {
  border: 3px solid #38b565;
}
.color-38b565 .logo img {
  background: #3fa8dc;
}
.color-38b565 .contacts {
  background: #38b565;
}
.color-38b565 .contacts,
.color-38b565 .contacts a {
  color: #ffffff;
}
.color-38b565 hr {
  color: #38b565;
}
.color-38b565 .globe {
  background-position: -12px -90px;
}
.color-38b565 .mobile {
  background-position: -12px -675px;
}
.color-38b565 .marker {
  background-position: -12px -605px;
}
.color-38b565 .profile .icon {
  background-position: -87px 0;
}
.color-38b565 .educations .icon {
  background-position: -83px -431px;
}
.color-38b565 .duration {
  color: #6a6a6a;
  letter-spacing: normal;
  float: right;
}
.color-38b565 .progress-bar-success {
  background: #383835;
}
.color-38b565 .progress {
  border: 2px solid #383835;
  background: #ffffff;
}
.color-38b565 .progress .eraser {
  background: #383835;
}
.color-38b565 .professional.skills h2 .icon {
  background-position: -81px -340px;
}
.color-38b565 .languages.skills h2 .icon {
  background-position: -86px -155px;
}
.color-38b565 .experiences h2 .icon {
  background-position: -82px -518px;
}
.color-38b565 .capabilities h2 .icon {
  background-position: -86px -248px;
}
.color-38b565 .hobbies h2 .icon,
.color-38b565 .references h2 .icon {
  background-position: -87px -759px;
}
.color-38b565 .hobbies h2 .icon i,
.color-38b565 .references h2 .icon i {
  color: #38b565;
}
.color-38b565 p {
  color: #6a6a6a;
}
.color-38b565 .references p {
  color: #383835;
}
.color-38b565 .web-design,
.color-38b565 .motion,
.color-38b565 .print {
  background-color: rgba(237, 237, 237, 0.8);
}
.color-38b565 .adv,
.color-38b565 .illustration {
  background-color: rgba(56, 181, 101, 0.8);
  color: #ffffff;
}
.color-38b565 hr {
  border-bottom: 2px solid #38b565;
}
.color-38b565 span.glyphicon {
  color: #38b565;
}
.color-f4f4f3 {
  color: #383835;
}
.color-f4f4f3 .logo {
  border: 3px solid #f4f4f3;
}
.color-f4f4f3 .logo img {
  background: #3fa8dc;
}
.color-f4f4f3 .contacts {
  background: #f4f4f3;
}
.color-f4f4f3 .contacts,
.color-f4f4f3 .contacts a {
  color: #383835;
}
.color-f4f4f3 hr {
  color: #383835;
}
.color-f4f4f3 .globe {
  background-position: -107px -90px;
}
.color-f4f4f3 .mobile {
  background-position: -95px -675px;
}
.color-f4f4f3 .marker {
  background-position: -98px -605px;
}
.color-f4f4f3 .profile .icon {
  background-position: -255px 0;
}
.color-f4f4f3 .educations .icon {
  background-position: -255px -425px;
}
.color-f4f4f3 .duration {
  color: #6a6a6a;
  letter-spacing: normal;
  float: right;
}
.color-f4f4f3 .progress-bar-success {
  background: #383835;
}
.color-f4f4f3 .progress {
  border: 2px solid #383835;
  background: #ffffff;
}
.color-f4f4f3 .progress .eraser {
  background: #383835;
}
.color-f4f4f3 .professional.skills h2 .icon {
  background-position: -255px -338px;
}
.color-f4f4f3 .languages.skills h2 .icon {
  background-position: -261px -160px;
}
.color-f4f4f3 .experiences h2 .icon {
  background-position: -255px -518px;
}
.color-f4f4f3 .capabilities h2 .icon {
  background-position: -258px -254px;
}
.color-f4f4f3 .hobbies h2 .icon,
.color-f4f4f3 .references h2 .icon {
  background-position: -263px -759px;
}
.color-f4f4f3 .hobbies h2 .icon i,
.color-f4f4f3 .references h2 .icon i {
  color: #b0adad;
}
.color-f4f4f3 p {
  color: #6a6a6a;
}
.color-f4f4f3 .references p {
  color: #383835;
}
.color-f4f4f3 .web-design,
.color-f4f4f3 .motion,
.color-f4f4f3 .print {
  background-color: rgba(237, 237, 237, 0.8);
}
.color-f4f4f3 .adv,
.color-f4f4f3 .illustration {
  background-color: rgba(176, 176, 176, 0.8);
  color: #ffffff;
}
.color-f4f4f3 hr {
  border-bottom: 2px solid #383835;
}
.color-f4f4f3 span.glyphicon {
  color: #b0adad;
}
.color-3fa8dc {
  color: #383835;
}
.color-3fa8dc .logo {
  border: 3px solid #3fa8dc;
}
.color-3fa8dc .logo img {
  background: #3fa8dc;
}
.color-3fa8dc .contacts {
  background: #3fa8dc;
}
.color-3fa8dc .contacts,
.color-3fa8dc .contacts a {
  color: #ffffff;
}
.color-3fa8dc hr {
  color: #3fa8dc;
}
.color-3fa8dc .globe {
  background-position: -12px -90px;
}
.color-3fa8dc .mobile {
  background-position: -12px -675px;
}
.color-3fa8dc .marker {
  background-position: -12px -605px;
}
.color-3fa8dc .profile .icon {
  background-position: -425px 0;
}
.color-3fa8dc .educations .icon {
  background-position: -426px -430px;
}
.color-3fa8dc .duration {
  color: #6a6a6a;
  letter-spacing: normal;
  float: right;
}
.color-3fa8dc .progress-bar-success {
  background: #383835;
}
.color-3fa8dc .progress {
  border: 2px solid #383835;
  background: #ffffff;
}
.color-3fa8dc .progress .eraser {
  background: #383835;
}
.color-3fa8dc .professional.skills h2 .icon {
  background-position: -425px -340px;
}
.color-3fa8dc .languages.skills h2 .icon {
  background-position: -428px -161px;
}
.color-3fa8dc .experiences h2 .icon {
  background-position: -431px -518px;
}
.color-3fa8dc .capabilities h2 .icon {
  background-position: -428px -251px;
}
.color-3fa8dc .hobbies h2 .icon,
.color-3fa8dc .references h2 .icon {
  background-position: -429px -759px;
}
.color-3fa8dc .hobbies h2 .icon i,
.color-3fa8dc .references h2 .icon i {
  color: #3fa8dc;
}
.color-3fa8dc p {
  color: #6a6a6a;
}
.color-3fa8dc .references p {
  color: #383835;
}
.color-3fa8dc .web-design,
.color-3fa8dc .motion,
.color-3fa8dc .print {
  background-color: rgba(237, 237, 237, 0.8);
}
.color-3fa8dc .adv,
.color-3fa8dc .illustration {
  background-color: rgba(63, 168, 220, 0.8);
  color: #ffffff;
}
.color-3fa8dc hr {
  border-bottom: 2px solid #3fa8dc;
}
.color-3fa8dc span.glyphicon {
  color: #3fa8dc;
}
.color-f1ae24 {
  color: #383835;
}
.color-f1ae24 .logo {
  border: 3px solid #f1ae24;
}
.color-f1ae24 .logo img {
  background: #3fa8dc;
}
.color-f1ae24 .contacts {
  background: #f1ae24;
}
.color-f1ae24 .contacts,
.color-f1ae24 .contacts a {
  color: #ffffff;
}
.color-f1ae24 hr {
  color: #f1ae24;
}
.color-f1ae24 .globe {
  background-position: -12px -90px;
}
.color-f1ae24 .mobile {
  background-position: -12px -675px;
}
.color-f1ae24 .marker {
  background-position: -12px -605px;
}
.color-f1ae24 .profile .icon {
  background-position: -340px 0;
}
.color-f1ae24 .educations .icon {
  background-position: -340px -431px;
}
.color-f1ae24 .duration {
  color: #6a6a6a;
  letter-spacing: normal;
  float: right;
}
.color-f1ae24 .progress-bar-success {
  background: #383835;
}
.color-f1ae24 .progress {
  border: 2px solid #383835;
  background: #ffffff;
}
.color-f1ae24 .progress .eraser {
  background: #383835;
}
.color-f1ae24 .professional.skills h2 .icon {
  background-position: -340px -340px;
}
.color-f1ae24 .languages.skills h2 .icon {
  background-position: -343px -160px;
}
.color-f1ae24 .experiences h2 .icon {
  background-position: -340px -518px;
}
.color-f1ae24 .capabilities h2 .icon {
  background-position: -343px -251px;
}
.color-f1ae24 .hobbies h2 .icon,
.color-f1ae24 .references h2 .icon {
  background-position: -345px -764px;
}
.color-f1ae24 .hobbies h2 .icon i,
.color-f1ae24 .references h2 .icon i {
  color: #f1ae24;
}
.color-f1ae24 p {
  color: #6a6a6a;
}
.color-f1ae24 .references p {
  color: #383835;
}
.color-f1ae24 .web-design,
.color-f1ae24 .motion,
.color-f1ae24 .print {
  background-color: rgba(237, 237, 237, 0.8);
}
.color-f1ae24 .adv,
.color-f1ae24 .illustration {
  background-color: rgba(241, 174, 36, 0.8);
  color: #ffffff;
}
.color-f1ae24 hr {
  border-bottom: 2px solid #f1ae24;
}
.color-f1ae24 span.glyphicon {
  color: #f1ae24;
}
.color-383835 {
  background: #383835;
  color: #ffffff;
}
.color-383835 .logo {
  border: 3px solid #ffffff;
}
.color-383835 .logo img {
  background: #3fa8dc;
}
.color-383835 .contacts {
  background: #ffffff;
}
.color-383835 .contacts,
.color-383835 .contacts a {
  color: #383835;
}
.color-383835 hr {
  color: #ffffff;
}
.color-383835 .globe {
  background-position: -107px -90px;
}
.color-383835 .mobile {
  background-position: -95px -675px;
}
.color-383835 .marker {
  background-position: -98px -605px;
}
.color-383835 .profile .icon {
  background-position: -169px -3px;
}
.color-383835 .educations .icon {
  background-position: -169px -426px;
}
.color-383835 .duration {
  color: #ffffff;
  letter-spacing: normal;
  float: right;
}
.color-383835 .progress-bar-success {
  background: #ffffff;
  box-shadow: none;
}
.color-383835 .progress {
  border: 2px solid #ffffff;
  background: #383835;
}
.color-383835 .progress .eraser {
  background: #ffffff;
}
.color-383835 .professional.skills h2 .icon {
  background-position: -169px -340px;
}
.color-383835 .languages.skills h2 .icon {
  background-position: -169px -155px;
}
.color-383835 .experiences h2 .icon {
  background-position: -168px -518px;
}
.color-383835 .capabilities h2 .icon {
  background-position: -169px -248px;
}
.color-383835 .hobbies h2 .icon,
.color-383835 .references h2 .icon {
  background-position: -170px -759px;
}
.color-383835 .hobbies h2 .icon i,
.color-383835 .references h2 .icon i {
  color: #ffffff;
}
.color-383835 p {
  color: #ffffff;
}
.color-383835 .references p {
  color: #ffffff;
}
.color-383835 .web-design,
.color-383835 .motion,
.color-383835 .print {
  background-color: rgba(237, 237, 237, 0.8);
}
.color-383835 .adv,
.color-383835 .illustration {
  background-color: rgba(237, 237, 237, 0.8);
  color: #ffffff;
}
.color-383835 hr {
  border-bottom: 2px solid #ffffff;
}
.color-383835 span.glyphicon {
  color: #ffffff;
}
.color-383835 h2 label {
  background: #383835;
}
.color-383835 .disk {
  background: #ffffff;
}
.hr-in-h2 {
  position: relative;
  top: -5px;
}
.mixin-duration {
  letter-spacing: normal;
  float: right;
}
@media (min-width: 460px) {
  .row {
    margin-left: -30px;
    margin-right: -30px;
  }
  .col-lg-1,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-md-1,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-sm-1,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-xs-1,
  .col-xs-10,
  .col-xs-11,
  .col-xs-12,
  .col-xs-2,
  .col-xs-3,
  .col-xs-4,
  .col-xs-5,
  .col-xs-6,
  .col-xs-7,
  .col-xs-8,
  .col-xs-9 {
    padding-left: 30px;
    padding-right: 30px;
  }
}
/*# sourceMappingURL=template2.css.map */